@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Libre+Baskerville:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .font-outline-1 {
    -webkit-text-stroke: 1px rgb(141, 140, 140);
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

/* html,
body, */
#root{
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main div::-webkit-scrollbar {
  width: 0;
  display: none;
}

#root .main div{
  /* z-index: 20; */
  -ms-overflow-style: none;
  scrollbar-width: none;
  pointer-events: all;
  touch-action: auto !important;
  -ms-touch-action: auto !important;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: rgb(114, 103, 103);
}

.main {
  width: 100%;
  height: 100%;
  position: relative;
  /* pointer-events: all; */
}

/* #section_one {
  background: linear-gradient(180deg, #cf17cf 0%, #ffffff 100%)
} */
.vodkaPicker-transition {
  transition: height 0.5s ease;
}

.transition-pickerBgColor {
  transition: background-color 1s ease; /* Adjust duration and easing function as needed */
}

.smooth-transition {
  transition: flex 0.5s ease;
}

.floatingSvg_animation {
  animation: floatAnimation 5s infinite alternate; /* Adjust duration and animation type as needed */
}

@keyframes floatAnimation {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-20px); /* Adjust the floating distance as needed */
  }
}

